################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CoPhaAPI/.vs/CoPhaAPI
/CoPhaAPI/CoPhaAPI/appsettings.json
