################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CoPhaAPI/.vs/CoPhaAPI
/CoPhaAPI/CoPhaAPI/appsettings.json
/CoPhaAPI/CoPhaAPI/obj/Debug/net8.0/CoPhaAPI.AssemblyInfo.cs
/CoPhaAPI/CoPhaAPI/obj/Debug/net8.0/CoPhaAPI.AssemblyInfoInputs.cache
/CoPhaAPI/CoPhaAPI/bin/Debug/net8.0
/CoPhaAPI/CoPhaAPI/obj/Debug/net8.0
/CoPhaAPI/.vs/CoPhaAPI/v17/.suo
/CoPhaAPI/.vs/CoPhaAPI/v17/DocumentLayout.backup.json
/CoPhaAPI/.vs/CoPhaAPI/v17/DocumentLayout.json
